<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAcy5hkbFBqVkIi6HjuWOOMzZ1EZsSIqzw</string>
	<key>GCM_SENDER_ID</key>
	<string>250846120801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kumohbada</string>
	<key>PROJECT_ID</key>
	<string>kumohbada</string>
	<key>STORAGE_BUCKET</key>
	<string>kumohbada.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250846120801:ios:7b9c4a8f1cf908a374d320</string>
</dict>
</plist>